@import normalize
@import compass
@import fonts

$header-font: 'Patua One'
$dark: #454B54
$blue: #12679C
$orange: #FF8E2E
$light-orange: #FFFACB
$orange-text: #FF7600

.foo-bar-biz-baz-qux
  background-color: #ff0000

// dan is the mannnnn

*
  -webkit-font-smoothing: antialiased!important
  @include box-sizing(border-box)

@mixin noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

body
  font-family: 'avenir-roman'
  color: $dark

  .wrapper
    overflow: hidden
    max-width: 100%
    padding-top: 55px
    width: 100%

    @media (max-width: 750px)
      padding-top: 15px

strong
  font-family: 'avenir-black'
  font-weight: 700

  em
    font-family: 'avenir-blackoblique'
    font-weight: 700

em
  font-family: 'avenir-oblique'
  font-weight: 400

  strong
    font-family: 'avenir-blackoblique'
    font-weight: 700

a
  text-decoration: none
  color: $blue

.restrict
  max-width: 100%
  width: 1140px
  margin: auto auto
  padding: 0px 30px

  @media (max-width: 640px)
    padding: 0 22.5px


form
  display: inline-block

  input[type="text"], input[type="search"], input[type="email"]
    box-sizing: border-box!important
    background: #fff
    border: 1px solid #FFBB79
    height: 27px
    margin-right: -6px
    font-family: 'avenir-medium'
    color: $dark
    font-size: .85rem
    padding-left: 5px
    padding-top: 3px
    letter-spacing: .5px
    border-radius: 0px

    &:focus
      border-color: darken(#FFBB79, 8%)
      outline: 0px

  input[type="submit"], button[type="submit"]
    border-radius: 0px
    height: 27px
    border: 0px
    background: #FF8A1D
    color: #fff
    text-transform: uppercase
    font-family: 'avenir-black'
    font-size: .7rem
    letter-spacing: 1.5px
    float: right
    position: relative
    -webkit-appearance: none

    &:after
      content: "\e901"
      font-family: 'icomoon'
      position: relative
      top: 1px

header[role="banner"]
  @include pie-clearfix
  max-width: 100%

  .restrict
    position: relative

  .subscribe-bar
    @include pie-clearfix
    background: $light-orange
    border-bottom: 1px solid darken($light-orange, 16%)
    color: $orange-text
    height: 40px
    overflow: hidden
    margin-bottom: 15px
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 999

    @media (max-width: 750px)
      display: none

    h1
      padding: 0
      display: inline-block
      font-size: .7rem
      letter-spacing: 1.5px
      text-transform: uppercase
      margin-top: 14px
      margin-left: 8px
      font-family: 'avenir-light'

    i
      position: relative
      font-size: 1.5rem
      top: 6px
    
    p
      float: right
      margin-right: 15px
      font-size: .8rem
      em
        font-family: 'avenir-mediumoblique'


    form
      float: right
      margin-top: 6px


  .graph-bg
    width: 1136px
    height: 696px
    background: url('img/graph-bg.png') no-repeat
    background-size: 100% 100%
    position: absolute
    z-index: -1
    left: -335px
    top: -70px
    opacity: .75

    @media (max-width: 1024px)
      left: -375px

    @media (max-width: 850px)
      left: -450px

    @media (max-width: 750px)
      top: -70px
      opacity: .3

    @media (max-width: 640px)
      left: -490px
      top: -90px
  
  .branding
    float: left

  a
    color: $dark
    &:hover
      color: $blue

  p.tagline
    color: #72A4AD
    font-family: 'avenir-medium' 
    font-size: .9rem
    margin: 0
    margin-top: 10px

    @media (max-width: 1024px)
      font-size: .8rem

  .logo 
    display: inline-block

    a
      display: block
  
    h1
      margin: 0
      color: $blue
      font-family: $header-font, cursive
      letter-spacing: -.75px
      font-size: 1.4rem

      @media (max-width: 640px)
        font-size: 1.2rem

  .header-search
    position: relative
    top: 2px
    float: right
    margin-left: 20px

    @media (max-width: 640px)
      display: none

    *
      @include noselect
    
    a
      cursor: pointer

    &.open
      form
        top: 35px
        opacity: 1
        visibility: visible

    i, form
      display: inline-block

    form
      @include transition(all .1s)
      position: absolute
      top: 25px
      right: 0
      width: 175px
      z-index: -1px
      visibility: hidden
      opacity: 0

      input[type="search"]
        width: 130px

    i
      font-size: 1.1rem

  nav
    float: right

    ul
      margin: 0
      padding: 0
      
    li
      list-style: none
      display: inline-block

    a
      font-family: $header-font, cursive
      font-weight: 500
      color: $dark
      padding-left: 20px
      font-size: .925rem


    @media (max-width: 640px)
      display: none


body.single-post

  aside.sidebar
    @media (max-width: 1024px)
      display: none

  .graph-bg
    @media (max-width: 1024px)
      opacity: .3

  main[role="main"]
    @media (max-width: 1024px)
      width: 100%
      max-width: 640px
      margin: auto auto
      padding-left: 0
      margin-top: 30px
      clear: both
      float: none

aside.sidebar
  @include transition(all .4s)
  width: 280px
  float: left
  margin-top: 25px
  font-size: .9rem
  line-height: 1.5
  color: lighten(#6E7174, 10%)
  visibility: visible
  position: relative
  opacity: 1
  top: 0

  @media (max-width: 1024px)
    width: 240px

  @media (max-width: 840px)
    width: 200px

  &.hide
    opacity: 0
    visibility: hidden
    top: -20px

  div[class^="widget_"], div[class*=" widget_"]
    margin-bottom: 35px

  form
    margin-top: 15px

  ul
    margin: 0
    padding: 0

    li
      list-style: none

      a
        color: #6E7174
        &:hover
          color: $blue
  
  h3
    font-size: .95rem
    margin: 10px 0
    font-family: $header-font, cursive
    font-weight: 500
    color: $blue

  #text-3 h3
    font-size: 1.1rem
    margin: 15px 0

  img.headshot
    margin-left: -4px
    margin-bottom: -16px

  ul.social

    li
      display: inline-block
      margin-right: 10px

    a
      color: $dark
    i
      font-size: 1.2rem

main[role="main"]
  float: right
  width: calc(100% - 280px)
  padding-left: 60px


  @media (max-width: 1024px)
    width: calc(100% - 240px)
    padding-left: 40px

  @media (max-width: 850px)
    width: calc(100% - 200px)
    padding-left: 25px
    margin-top: 15px

  @media (max-width: 750px)
    width: 100%
    margin-top: 25px
    padding: 0


article
  margin-bottom: 60px
  @include pie-clearfix
  clear: both
  position: relative

  p
    font-size: 1.1rem
    line-height: 1.5

    @media (min-width: 1025px)
      font-size: 1.0rem

  img
    max-width: 100%

  span.date
    font-family: 'avenir-black'
    font-size: .9rem
    margin-right: 25px

    @media (max-width: 850px)
      font-size: .85rem
      margin-right: 12px

  ul.post-sharing
    display: inline-block
    margin: 0
    padding: 0
    
    li   
      list-style: none
      display: inline-block
      margin-right: 15px
      @media (max-width: 850px)
        margin-right: 12px

      span
        font-family: 'avenir-medium'
        opacity: .75
        font-size: .9rem
        position: relative
        top: -1px

      i
        font-size: 1rem
        @media (max-width: 850px)
          font-size: .9rem
      
      a
        color: $dark
        &:hover
          color: $blue
  
h2.post-title
  font-family: $header-font, cursive
  font-weight: 500
  font-size: 2.8rem
  margin-top: 10px
  line-height: 1.2
  color: #FF8E2E
  
  @media (max-width: 1024px)
    font-size: 2.3rem
  @media (max-width: 640px)
    font-size: 1.9rem

  a
    color: #FF8E2E

a.more-link
  @include transition(all .1s)
  margin-top: 15px
  display: inline-block
  padding: 4px 8px
  background: #FFE8A3
  color: $orange-text
  text-transform: uppercase
  font-family: 'avenir-black'
  font-size: .7rem
  letter-spacing: 1.5px
  text-decoration: none
  @include box-shadow(14px 0 0 rgba(255,255,255,1))

  &:hover
    background: $orange
    color: #fff

    &:after
      padding-left: 12px

  &:before
    display: block
    content: ''
    width: 100%
    z-index: -1
    height: 1px
    background: #D1D8DC
    position: absolute
    margin-top: 8px

  &:after
    @include transition(all .2s)
    content: "\e901"
    font-family: 'icomoon'
    position: relative
    top: 1px
    padding-left: 8px

div.entry-content
  line-height: 1.55
  font-size: 1.0rem
  position: relative
  padding-right: 160px

  @media (max-width: 1200px)
    padding-right: 100px

  @media (max-width: 1024px)
    padding-right: 0

  img.alignright
    margin-right: -160px

    @media (max-width: 1200px)
      margin-right: -100px

    @media (max-width: 1024px)
      margin-right: 0


  img.alignright
    float: right
    margin-left: 30px
    margin-bottom: 25px

  img.alignleft
    float: left
    margin-right: 30px
    margin-bottom: 25px

  img.alignright, img.alignleft
    @media (max-width: 640px)
      float: none
      clear: both
      margin: 0
      margin-bottom: 15px

.content-wrapper
  @include pie-clearfix

footer
  width: 100%
  @include pie-clearfix
  border-top: 1px solid #D1D8DC
  margin-top: 45px
  font-size: .8rem
  padding: 20px 0 25px
  p 
    margin: 0
    padding: 0
  
div.pagination
  background: #F0F6F7
  position: relative
  text-align: center
  height: 30px
  padding-top: 4px
  clear: both
  
  a, span
    color: $dark
    font-size: .8rem

  a
    font-family: 'avenir-black'

  span
    font-family: 'avenir-roman'

  a.page-numbers
    padding: 0 6px

    &:hover
      color: $blue

  a.next, a.prev
    @include transition(all .2s)
    display: block
    position: absolute
    padding: 8px 10px
    top: 0
    height: 100% 
    background: #FFE8A3
    color: $orange-text
    text-transform: uppercase
    font-family: 'avenir-black'
    font-size: .7rem
    letter-spacing: 1.5px

    &:hover
      background: $orange
      color: #fff

  a.next
    right: 0
    &:after
      content: "\e901"
      font-family: 'icomoon'
      position: relative
      top: 1px
      padding-left: 8px

  a.prev
    left: 0
    &:before
      @include transform(rotate(180deg))
      display: inline-block
      content: "\e901"
      font-family: 'icomoon'
      position: relative
      padding-left: 8px
      top: 1px

ul.vertical-social
  @include transition(all .2s)
  background: #fff
  margin: 0
  padding: 30px 0px 0px 
  width: 80px
  text-align: center
  border: 1px solid #ddd
  border-radius: 4px
  position: fixed
  top: 75px
  visibility: hidden
  z-index: 999
  opacity: 0
  margin-top: -10px

  @media (max-width: 1024px)
    display: none

  &.show
    visibility: visible
    opacity: 1
    margin-top: 0

  &:before
    position: absolute
    display: block
    content: 'Share'
    height: 17px
    left: -1px
    right: -1px
    top: -1px
    border-radius: 3px 3px 0 0 
    border: 1px solid darken($light-orange, 20%)
    background: $light-orange
    font-family: 'avenir-black'
    letter-spacing: 1.5px
    text-transform: uppercase
    color: $orange-text
    font-size: .7rem
    padding-top: 5px

  li
    list-style: none
    width: 100%
    clear: both
    display: block
    padding: 13px 0
    border-top: 1px solid #ddd

    &:first-child
      border-top: 0px

h3.orange
  font-family: $header-font, cursive
  font-weight: 500
  color: $orange

li.cat-item-234
  display: none
